.header {
  height: 81px;
  color: $primary;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-social {
    height: inherit;
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}
